body {
    margin: 0px;
    padding-top: 800px;
    text-align: center;
}

.profile {
    border-radius: 50%;
    width: 175px;
    margin-bottom: 25px;

}

#welcome {
    position: absolute;
    over-flow: hidden;
    height: 800px;
    color: black;
    background: linear-gradient(#9df5dd 0%, #00eeff 100%);
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    display: table;
    z-index:9;
}

#inner-container {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 30;
}

#para {
    max-width: 450px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.3;

}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;

}

.menu {
    list-style: none;
    font-family: fantasy;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
    cursor: pointer;
}

.links {
    float: left;
    color: black;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 10px;
    padding-left: 12px;
    font-family: fantasy;
    font-size: 20;
}

.links:hover {
    background-color: white;
}

#name {
    font-family: 'Alfa Slab One', cursive;
}
